:root {
    --red: hsl(0, 100%, 74%);
    --green: hsl(154, 59%, 51%);
    --blue: hsl(248, 32%, 49%);
    --dark-blue: hsl(249, 10%, 26%);
    --grayish-blue: hsl(246, 25%, 77%);

    --font-family: 'Poppins', sans-serif;
}

*,
*::before, 
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}
 
/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    overflow-x: hidden;
    max-width: 1440px;
    position: relative;
    background-color: hsla(234, 17%, 26%, 1);
}
  

a:not([class]) {
    text-decoration-skip-ink: auto;
}

img,
picture {
  width: 100%;
  display: block;
}

.wrapper {
    margin: 0 auto;
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    border-radius: 36px;
    background: #FFF;
    box-shadow: 0px 15px 60px 0px rgba(0, 0, 0, 0.25);
    
    @media screen and (min-width: 768px){
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 140px;
        width: 95vw;
        margin: 120px auto;
    }
    
    @media screen and (min-width: 1200px){ 
        width: 928px;
        height: 641px;
        padding: 20px;
        justify-content: center;
        gap: 110px;
        margin: 220px auto;
    }

    .content {
        order: 1;
        max-width: 327px;

        @media screen and (min-width: 768px){ 
            order: 0;
            max-width: 348px;
            margin-left: auto;
        }
        h1 {
            color: var(--Dark-Navy, #242742);
            font-feature-settings: 'clig' off, 'liga' off;
            font-family: Roboto;
            font-size: 40px;
            font-style: normal;
            font-weight: 700;
            line-height: 100%;

            @media screen and (min-width: 768px){ 
                font-size: 56px;
            }
        }

        .description {
            color: var(--Dark-Navy, #242742);
            font-feature-settings: 'clig' off, 'liga' off;
            margin: 24px 0px;

            font-family: Roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
        }

        .list-item {
            display: flex;
            gap: 16px;
            margin-top: 10px;

            p {
                color: var(--Dark-Navy, #242742);
                font-feature-settings: 'clig' off, 'liga' off;

                font-family: Roboto;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 150%;
            }
        }

        form {
            margin: 40px 0;
            display: flex;
            flex-direction: column;
            gap: 15px;

            p {
                color: var(--Dark-Navy, #242742);
                font-feature-settings: 'clig' off, 'liga' off;

                font-family: Roboto;
                font-size: 12px;
                font-style: normal;
                font-weight: 700;
                line-height: 150%;
            }

            input {
                width: 327px;
                height: 56px;
                padding: 5px 20px;

                border-radius: 8px;
                border: 1px solid var(--grey-25, rgba(25, 24, 43, 0.25));

                &::placeholder {
                    color: var(--Dark-Navy, #242742);
                    font-feature-settings: 'clig' off, 'liga' off;

                    font-family: Roboto;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 150%; 
                }
            }

            button {
                width: 327px;
                height: 56px;

                border-radius: 8px;
                background: var(--Dark-Navy, #242742);
                border: none;

                color: var(--White, #FFF);
                text-align: center;
                font-feature-settings: 'clig' off, 'liga' off;

                font-family: Roboto;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: 150%;
            }
        }
    }

    .image-container {
        width: 375px;

        @media screen and (min-width: 768px){ 
            width: 380px;
        }
        @media screen and (min-width: 1200px){ 
            width: 400px;
            height: 593px;
        }
    }
}

.confirmation-container {
    width: 504px;
    height: 520px;
    margin: 0 auto;
    padding: 48px 64px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
    border-radius: 36px;
    background: #FFF;
    box-shadow: 0px 15px 60px 0px rgba(0, 0, 0, 0.25);
  
    .icon-success {
        width: 64px;
        height: 64px;
    }

    h1 {
        color: var(--Dark-Navy, #242742);
        font-feature-settings: 'clig' off, 'liga' off;

        font-family: Roboto;
        font-size: 56px;
        font-style: normal;
        font-weight: 700;
        line-height: 100%;
    }

    p {
        color: var(--Dark-Navy, #242742);
        font-feature-settings: 'clig' off, 'liga' off;

        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; 

        span {
            font-weight: 700;
        }
    }

    button {
        width: 376px;
        height: 56px;

        border: none;
        border-radius: 8px;
        background: var(--Dark-Navy, #242742);

        color: var(--White, #FFF);
        text-align: center;
        font-feature-settings: 'clig' off, 'liga' off;

        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%;

    }

}